/* widescreen.css */
@media (min-width: 768px) {
   
   
    .navbar {
        padding: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        gap: 1.25rem;
    }

    .showcase {
        height: 31.25rem;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .showcase h1 {
        font-size: 3.125rem;
        background: rgba(0, 0, 0, 0.6);
        padding: 1.25rem;
    }

    .articles-container,
    .new-articles-container {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .article {
        padding: 1.25rem;
        flex: 1;
        transition: transform 0.3s;
    }

    .article:hover {
        transform: scale(1.05);
    }

    .co-delame,
    .about-us {
        max-width: 100%;
        margin: 0 auto;
        background-color: #2a2a2a;
        color: #e0e0e0;
        padding: 1.25rem;
        border-radius: 0.5rem; 
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); 
    }

    .co-delame h2,
    .about-us h2 {
        color: #9acd32;
        font-size: 2rem;
        margin-bottom: 0.625rem;
    }

    .co-delame p,
    .about-us p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    footer {
        padding: 1.25rem;
        text-align: center;
 
    }
}

